

.article_snippet {
    padding: 15px;
    margin: 20px 20px 10px 10px;
    border: 1.2px solid #0066FF;
    border-left-width: 5px;
    border-radius: 3px;
    display: inline-block;
   	width: 100%;
}

.tweet_snippet {
    padding: 15px;
    margin: 20px 20px 10px 10px;
    border: 1.2px solid #0066FF;
    border-left-width: 5px;
    border-radius: 3px;
    
}

#tweets{
	position:absolute;
	top:80px;
	right: 20px;
	width: 25%;
}

#article{
	position: absolute;
	top:80px;
	left: 20px;
	width: 65%;
}
