.panel {
  margin-bottom: 20px;
  background-color: #E5E9E5;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 30%;
  
}

.panel-primary {
  border-color: #2a9fd6;
  
}

.panel-body {
  padding: 15px;
}



.feed-item:before, .feed-item:after {
    content: " ";
    display: block;
    height: 11px;
}
.feed-item .icon {
    color: #FFFFFF;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding-left: 11px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 28px;
    z-index: 1;
}
.pull-left {
    float: left;
}
.feed-item-body {
    margin-left: 40px;
    padding-top: 3px;
    vertical-align: bottom;
}
.feed-item-body .time {
    color: #D2D2D2;
    font-size: 11.05px;
    line-height: 1.5em;
}
.feed
{
    height: 430px;
    overflow: hidden;
    position: relative;
    width: auto;
    color: #F8F8F8;
}
